In [4]:
import sqlite3

In [5]:
conn = sqlite3.connect('lastfm_tags.db')

In [19]:
print("We get all tags and the number of tracks they're applied to")
sql = "SELECT tid_tag.tag, tags.tag, COUNT(tid_tag.tid) FROM tid_tag, tags WHERE tid_tag.tag=tags.ROWID GROUP BY tags.tag"
res = conn.execute(sql)
tag_list = res.fetchall()
tag_list = sorted(tag_list, key=lambda x: x[2], reverse=True)
print('after sorting...')
for k in range(10):
    print(tag_list[k])
print('...')
print('(total number of unique tags: %d)' % len(tag_list))

We get all tags and the number of tracks they're applied to
after sorting...
(95, 'rock', 101071)
(5, 'pop', 69159)
(96, 'alternative', 55777)
(38, 'indie', 48175)
(138, 'electronic', 46270)
(70, 'female vocalists', 42565)
(98, 'favorites', 39921)
(238, 'Love', 34901)
(86, 'dance', 33618)
(322, '00s', 31432)
...
(total number of unique tags: 522366)

In [31]:
top_100_tag_list = list(map(lambda tag: str(tag[0]), tag_list[:100]))
print(','.join(top_100_tag_list))

95,5,96,38,138,70,98,238,86,322,648,347,34,269,914,40,324,196,1,158,97,380,481,75,379,230,45,41,764,10,201,730,492,3,916,15,356,39,382,16,150,37,1177,42,6,69,527,147,545,151,58,595,136,92,2,734,148,55,36,733,189,239,544,2182,889,197,365,1125,43,1650,47,460,686,1033,195,2139,891,923,46,500,367,561,203,83,483,611,1832,149,264,464,945,237,462,2218,1719,308,1537,765,649,617

In [39]:
print('We get all tracks with tag(s) in top 100')
sql = "SELECT DISTINCT(tids.tid) FROM tid_tag, tids WHERE tid_tag.tid = tids.ROWID AND tid_tag.tag in (%s)" % (','.join(top_100_tag_list))
res = conn.execute(sql)
tracks_with_top_100_tag = res.fetchall()

We get all tracks with tag(s) in top 100

In [40]:
for k in range(10):
    print(tracks_with_top_100_tag[k])
print('...')
print('(total number of track IDs: %d)' % len(tracks_with_top_100_tag))

('TRCIJFJ128F425C189',)
('TRCMOXY12903CDFD0D',)
('TRCMZXV128E07943F4',)
('TRCDFKU128F930879F',)
('TRCQMCQ128F92D328C',)
('TRJJKGE12903CAAFB8',)
('TRJMVSL128F427EAB0',)
('TRJBCIW128F42694CA',)
('TRJDDFL128F1459B06',)
('TRJDPQC128F92F993E',)
...
(total number of track IDs: 369047)

In [41]:
tracks_with_top_100_tag = list(map(lambda t: t[0], tracks_with_top_100_tag))

In [46]:
tracks_with_top_100_tag.sort()

In [48]:
tracks_with_top_100_tag[-20:]

['TRZZZFV128F4259A2B',
 'TRZZZHD128F1475047',
 'TRZZZHL128F9329CFB',
 'TRZZZHM128F42B1DC8',
 'TRZZZJX12903CC66C0',
 'TRZZZKN128F92F81D6',
 'TRZZZMF128F424484C',
 'TRZZZMH128EF34A5F7',
 'TRZZZMY128F426D7A2',
 'TRZZZOW128F4248475',
 'TRZZZQM128F424DBA1',
 'TRZZZRJ128F42819AF',
 'TRZZZUK128F92E3C60',
 'TRZZZUM128F424188C',
 'TRZZZYG128F92EF836',
 'TRZZZYR128F92F0796',
 'TRZZZYV128F92E996D',
 'TRZZZYX128F92D32C6',
 'TRZZZZD128F4236844',
 'TRZZZZZ12903D05E3A']

In [53]:
with open('track_id_with_top_100_tag.txt', 'w') as fd:
    for track_id in tracks_with_top_100_tag:
        fd.writelines(track_id + '\n')